<!doctype html>
<html>
  <head>
    <title>Sign Up</title>
    <style>
      .user-form {
        width: 520px;
      }
      h3 {
        text-align: center;
      }

    </style>
  </head>


  <body>
    <header>
      <a href ="/"><h1>GOAL</h1></a>
    </header>
    <h3>Sign Up</h3>
    <form class = "user-form" action="/signup" method="POST">
      <input type="text" name="username" placeholder= "Username">
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <button type="submit">Sign Up </button>
    </form>
  </body>
