<h1>Welcome <%= current_user.username %> </h1>

<% if !@goals %>
  <h2> You currently have no goals. </h2>
<% else %>
  <h2> Your Goals: </h2>
    <% @goals.each do |goal| %>
      <%= goal.description %>
    <% end %>
<% end %>

<h2> Create New Goal </h2>





<!-- yield to show other people's goals-->
