<!doctype html>
<html>
  <head>
    <title>GOAL Home </title>
    <style>


    </style>
  </head>

  <body>
    <header>
      <a href ="/"<h1>GOAL</h1></a>
    </header>

    <!-- Login -->
    <section class="user-form">
      <h2> Hey, good to see you again! </h2>
      <p>Log-in to your account</p>
      <form method="POST" action="/login">
        <input type="text" name="user[username]" placeholder="Username"><br>
        <input type="text" name="user[password]" placeholder="Password"><br><br>
        <button type="submit">Log In</button>
      </form>

      <p>Or</p>

      <!-- Sign up -->

      <form method="get" action="/signup">
        <button type="submit"> Sign Up</button>
      </form>
    </section>
  </body>
</html>
