<html>
  <head>
    <title>Resources</title>
    <style>

      section {
        text-align: center;
      }

      h2 {
        text-align: center;
        margin: 40px;
      }

      .resource {
        position: realtive;
        display: inline-block;
        margin: 20px;
        width: 300px;
        vertical-align: text-top;
      }
      .resource img, iframe {
        max-width: 100%;
        margin-top: 10px;
      }

    </style>
  </head>

  <header>
    <a href ="/home"><h1>GOAL</h1></a>
    <nav>
      <a href="/home">Home</a>
      <a href="/feed">Feed</a>
      <a href="/resources">Resources</a>
      <a href="/">Log Out</a>
    </nav>
  </header>
  <body>
    <section>
      <h2>Articles</h2>
        <div class="resource">
          <a href = "https://blog.hubspot.com/blog/tabid/6307/bid/33898/how-to-set-smart-marketing-goals-for-2013-template.aspx">Hubspot - How to Set SMART Marketing Goals</a>
          <img src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjU5MTMxfQ">
        </div>
        <div class="resource">
          <a href = "https://www.umassd.edu/fycm/goal-setting/resources/smartgoals/">UMass Dartmouth - Creating S.M.A.R.T. Goals</a>
          <img src="https://images.unsplash.com/photo-1499334844006-d49df7788949?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjU5MTMxfQ">
        </div>
      <h2>Books & Videos</h2>
      <div class="resource">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TQMbvJNRpLE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <div class="resource">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/MVQ3S1ObuKc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="resource">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/RQMZmK9p0_A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="resource">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/GOfl2sbgPhk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
  </body>
</html>
