<html>
  <head>
    <title>Resources</title>
  </head>

  <header>
    <a href ="/home"><h1>GOAL</h1></a>
    <nav>
      <a href="/home">Home</a>
      <a href="/feed">Feed</a>
      <a href="/resources">Resources</a>
      <a href="/">Log Out</a>
    </nav>
  </header>
  <body>
    <h4>Goal Setting</h4>
    <h4>Commiting to your Goals</h4>
    <h4>Psychology</h4>
    <h4>Motivation</h4>
    <h4>Books and Videos</h4>
  </body>
</html>
